/* kleuren
Paars #5722CD:
Blauw #4845E4:
Roze #ED4385:
Zwart #0C0C0C:voor standaard tekst
Lichtpaars #F2F0FF:
Lichtgrijs #F3F6F9:
voor de achtergrond van de projecten:
Grijs #7A7A7A:
*/

/*////////////////////////
    Table of Contents
    1. Global Styles

 */

/
/*/

/* ------------------------------- 1. Global Styles -------------------------------- */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ------------------------------- 2. Typography ----------------------------------- */

p {
    font-family: 'Roboto', sans-serif;
}

h1, h2 {
    font-family: 'Merriweather', serif;
}

/* ------------------------------- 3. Layout --------------------------------------- */

/*position: relative; nog ergens in fietsen, maar waar?*/


.navbar  {
    border: 2px dashed orange;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: #5722CD;
    font-family: 'Merriweather', serif;
    color: #F3F6F9;
}

.navbar ul {
    border: 2px dashed yellow;
    list-style: none;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-basis: 400px;
}

.navbar li {
    border: 2px dashed deeppink;
}

header {
    border: 2px dashed orange;
    text-align: center;
    display: flex;
    background-color: #5722CD;
    color: #F3F6F9;
    flex-direction: column;
    justify-content: center;
    font-family: 'Merriweather', serif;
    flex-basis: 400px;
    padding: 100px 100px;
}

/*is dit de goeie weg naar een border om header heen bij de padding?*/
.header-section {
    border: 2px dashed yellow;
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.header-section button {
    background-color: #ED4385;
    color: #F3F6F9;
    padding: 15px 32px;
    display: flex;
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 1;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 10px;
    border-radius: 12px;
    width: 250px;
}



/* style the sections*/

/*SECTION GEDEELTE DEEL 1*/

.section1 {
    border: 2px dashed yellow;
    background-color: #F3F6F9;
    font-family: 'Roboto', sans-serif;
    color: #5722CD;
    font-size: 14px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 100px 100px;
}

.para3 {
    font-size: 8px;
}


/*SECTION GEDEELTE DEEL 2*/


.section2 {
    background-color: whitesmoke;
    color: #0C0C0C;
    border: 2px dashed orange;
    padding: 100px 300px;
    justify-content: center;
}

blokjeeen  {
    font-size: 18px;
    border: 2px dashed yellow;
    justify-content: flex-start;
}

blokjetwee {
    font-size: 18px;
    border: 2px dashed yellow;
    justify-content: flex-start;
}

blokjedrie {
    font-size: 18px;
    border: 2px dashed yellow;
    justify-content: flex-start;
}
body {

}



footer {

}


/* --------------- 3.1 Reusables ----------------------- */


/* --------------- 3.2 Other --------------------------- */


/* ------------------------------- 4. Areas ---------------------------------------- */


/* --------------- 4.1 Header ------------------------- */


/* --------------- 4.2 Introduction ------------------- */


/* ------------------------------- 5. Media Queries -------------------------------- */






